[Desktop Entry]
Type=Application
Name=Railway
GenericName=Music Player
Categories=Audio;
Icon=org.gnome.Music
Exec=sh -c "cd ~/.local/bin/railway && ./railway"
